<div class="animated fadeIn">
    <div class="card">
      <div class="card-body">
        <div *ngFor="let alert of alertsDismiss">
          <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
        </div>
        <app-validator-input #oldPassword [startValidator]="hasSubmit" [test]="validatorPaswd(user.password)" [msg]="'请填写旧密码,密码长度最小为6个字符.'"
          [readonly]="false" [labelname]="'旧密码'" [(ngModel)]="user.password" [placeholder]="'请输入旧密码'" [inputType]="'password'"></app-validator-input>
        <app-validator-input #newPassword [startValidator]="hasSubmit" [test]="validatorPaswd(user.newPassword)" [msg]="'请填写新密码,密码长度最小为6个字符.'"
          [readonly]="false" [labelname]="'新密码'" [(ngModel)]="user.newPassword" [placeholder]="'请输入新密码'" [inputType]="'password'"></app-validator-input>
        <app-validator-input #repeatNewPassword [startValidator]="hasSubmit" [test]="validatorConfirmPaswd(user.newRepeatPassword)"
          [msg]="'新密码与重复密码不一致'" [readonly]="false" [labelname]="'重复新密码'" [(ngModel)]="user.newRepeatPassword"
          [placeholder]="'请重复输入新密码'" [inputType]="'password'"></app-validator-input>  
          <div class="form-actions">
              <button type="submit" class="btn btn-primary pull-right" (click)="savePassword()">保存</button>
          </div>
      </div>
    </div>
  </div>